.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.footer__firma {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: auto;
  text-align: right;
  color: #ffffff;
  margin-top: 90px;
  margin-bottom: 25px;
}
