.places {
  display: grid;
  position: relative;
  grid-row-gap: 80px;
  margin: 92px auto 0;
  max-width: 987px;
}

@media screen and (max-width: 768px) {
  .places {
    grid-row-gap: 40px;
    margin: 60px auto 0;
    max-width: 90%;
  }
}

@media screen and (max-width: 390px) {
  .places {
    grid-row-gap: 20px;
    margin: 30px auto 0;
    max-width: 95%;
  }
}

@media screen and (max-width: 320px) {
  .places {
    grid-row-gap: 20px;
    margin: 30px auto 0;
    max-width: 95%;
  }
}
